<div class="body">
<h1>Discord</h1>
<h4>We would love to have you on our Discord server. You can join using the link below!</h4>
<iframe src="https://discord.com/widget?id=939091496760668160&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" 
    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    <p style="font-size: 7.5px;">In case the widget above does not work, use this link: 
        <a href="https://discord.gg/AMDkvyy4xj">https://discord.gg/AMDkvyy4xj</a></p>
</div>