<div class="container">
    <img src="../../assets/homepage-personal.svg" alt="There was a problem...">
</div>

<mat-card class="card">
    <mat-card-title>
        I am Pepijn Colenbrander
    </mat-card-title>
    <mat-card-content class="text-sm">
        My name is Pepijn Colenbrander. I am a developer, aviation enthousiast, and diver. I was born in the Netherlands and raised in the Philippines. I have been
        coding since early 2021 and have never had a moment I didn't enjoy it. I code in multiple languages, including JavaScript, HTML, CSS, and C#! I love the Angular.js
        library, bu I also code in Discord.js and Blazor. I fly and control on the VATSIM Network. I am an Approach rated controller and serve VATSIM Austrailia Pacific as
        a Membership Assistant and Developer. If you have any questions for me or just want to hangout and chat with me, I'd love to see you in my discord server! See you 
        later!
    </mat-card-content>
    <mat-card-actions>
        <button mat-button routerLink="/projects">View GitHub Repos</button>
        <button mat-button routerLink="/discord">Chat With Me On Discord!</button>
    </mat-card-actions>
</mat-card>