<div class="div">
<h1>I am Pepijn Colenbrander</h1>
<h2>I am a Developer</h2>
<h3>I am an Aviation Enthousiast</h3>
</div>
<mat-card>
    <mat-card-title>Welcome to my website!</mat-card-title>
<mat-card-content>I'm Pepijn Colenbrander. I was born Dutch and raised in the Philippines. I love aviation. My favorie planes are the
    A350, A380, and the Boeing 787. I have been coding since early 2021. I code in multiple languages, including but not
    limited to C#, JavaScript, HTML, and CSS. I use libraries such as Blazor, Discord.js, and Angular.js. I'd love to chat
    more with you! Make sure to head over to my Discord server to see what I'm up to!
</mat-card-content>
</mat-card>